@media (width <= 1920px) {
  form {
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 0px !important;
  }

  .description-input {
    width: 94%;
  }
}

@media (width <= 1600px) {
  .add-task-buttons {
    width: 20%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 8%;
    right: 1%;
    display: flex;
    flex-direction: column;
    height: 130px;
    align-items: center;
  }
}

@media (width <= 1200px) {
  form {
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .select-contacts,
  .select-date,
  .select-category,
  .add-subtask {
    cursor: pointer;
    width: initial !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .title-input {
    width: 91% !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .add-subtask {
    width: 92% !important;
  }
}

@media (max-width: 1024px) {
  #addtask_bg {
    width: 71px;
  }

  header {
    background-color: white;
  }

  .main-logo {
    content: url(../../templates/img/logo_blue.png);
  }

  #help-section-btn,
  .profile-picture {
    display: none;
  }
  #header-name-resp {
    display: block;
    color: #4589ff;
    margin-top: 50px;
  }

  .add-task-content {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 279px !important;
    margin-top: 82px;
  }

  .clear-task-btn,
  .create-task-btn {
    display: none;
  }

  .create-task-btn-resp {
    top: 3.3vh;
    right: 5vw;
    position: fixed;
    z-index: 800;
  }

  .new-contact {
    margin-right: 14px;
    width: 382px;
  }

  .new-category-input {
    width: 55vw;
  }

  form {
    gap: 0px !important;
    margin-top: 218px !important;
    padding-bottom: 0px !important;
    padding: 44px 34px !important;
    min-height: 768px !important;
  }

  .add-task-content {
    margin-top: 169px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 71%;
  }

  .respons-calendar {
    display: flex !important;
    width: 32px;
    position: absolute;
    height: 32px;
    top: 26px;
    right: 2px;
    background-color: white;
  }

  .description-input {
    width: 96%;
  }

  form {
    gap: 0px !important;
    margin-top: 50px !important;
    padding-bottom: 0px !important;
    padding: 44px 34px !important;
    min-height: 685px !important;
    height: initial !important;
  }

  .contacts-box,
  .description-box {
    margin-bottom: 10px !important;
  }

  .content-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 1200px;
  }
}

@media (width <= 500px) {
  form {
    width: 68vw;
  }

  .create-task-btn-resp {
    right: 8vw;
  }

  .add-task-content {
    margin-top: 235px !important;
  }

  .title-input {
    width: 75vw;
  }

  .select-contacts,
  .select-category,
  .add-subtask {
    width: 95%;
  }

  .select-date {
    width: initial !important;
    min-width: 91%;
    background-color: white !important;
    color: black !important;
    height: 39px;
  }

  .importance-buttons {
    width: 68vw;
    gap: 17px;
  }

  .importance-buttons button {
    width: 75%;
  }

  .rendered-contact-name {
    width: 67vw;
  }

  .contacts-dropdown-content {
    width: 82vw;
  }

  .new-contact {
    margin-right: 3px;
    width: 71vw;
  }

  .categories-dropdown-content {
    width: 100%;
  }

  .subtask-content {
    width: 80vw;
  }

  .rendered-subtask-name {
    width: 65vw;
  }

  .add-task-content {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .description-input {
    width: 86%;
  }

  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    margin-bottom: 12px;
  }

  #header-name-resp {
    display: block;
    color: #4589ff;
    margin-top: 8px;
  }

  form {
    gap: 0px !important;
    margin-top: 25px !important;
    padding-bottom: 0px !important;
    padding: 30px 24px !important;
    min-height: 572px !important;
  }

  .due-date-text,
  .category-text,
  .description-text,
  .subtask-text {
    font-size: 14px !important;
    margin-bottom: 8px !important;
  }

  .select-contacts,
  .select-date,
  .select-category,
  .add-subtask {
    font-size: 14px;
    height: 27px;
  }

  .title-input,
  .title-input::placeholder {
    font-size: 18px;
    height: 20px;
    margin-bottom: 10px;
  }

  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    margin-bottom: 16px !important;
  }

  .importance-buttons button {
    height: 40px !important;
    width: 30% !important;
    padding: 10px 10px !important;
    gap: 4px !important;
    font-size: 11px !important;
    min-width: initial !important;
  }
  .content-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 941px;
    padding-bottom: 0px;
  }
}

@media (max-width: 414px) {
  .rendered-contact-name {
    width: 73.5vw;
  }

  .contacts-list-elem-box {
    width: 71vw;
  }

  .contacts-dropdown-content {
    width: 100%;
  }

  .new-contact {
    width: 71vw;
  }

  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    min-width: 100%;
    margin-bottom: 8px !important;
  }
}

@media (max-width: 400px) {
  .add-task-content {
    margin-top: 168px;
  }

  header span {
    margin-top: 36px;
  }

  .importance-buttons button span {
    font-size: 14px;
  }

  .importance-buttons button img {
    margin-left: 0px;
  }
}

@media (max-width: 393px) {
  .rendered-contact-name {
    width: 72.5vw;
  }
}

@media (max-width: 390px) {
  .rendered-contact-name {
    width: 73vw;
  }
}

@media (max-width: 375px) {
  .rendered-contact-name {
    width: 72vw;
  }
}

@media (max-width: 360px) {
  .rendered-contact-name {
    width: 71.2vw;
  }

  .select-contacts,
  .select-date,
  .select-category,
  .add-subtask {
    cursor: pointer;
    width: 100%;
    height: 32px;
    padding-left: 21px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    outline: none;
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .importance-buttons {
    gap: 8px;
    margin: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 280px) {
  .rendered-contact-name {
    width: 67vw;
  }
}

@media (height <= 800px) {
  #header-name-resp {
    display: none;
  }

  form {
    gap: 0px !important;
    margin-top: -110px !important;
    padding-bottom: 0px !important;
    padding: 30px 24px !important;
    min-height: 558px !important;
  }
}
