@media (width <= 1900px) {
  .circle {
    margin-left: 0;
  }
}

@media (width <= 1700px) {
  .contact-list-container {
    width: 26vw;
  }
  .contact {
    width: 20vw;
  }
  .contact-right {
    left: 45vw;
  }
}

@media (width <= 1550px) {
  .contact {
    width: 26vw;
  }

  .contact-list-container {
    width: 31vw;
  }
  .contact-right {
    left: 50vw;
  }
}

@media (width <= 1350px) {
  .contact-list-container {
    width: 34vw;
  }
  .contact {
    width: 23vw;
  }
  .contact-name {
    font-size: 16px !important;
  }
  .contact-email {
    font-size: 14px !important;
  }
  /* .contact-right {
    transform: scale(0.9) !important;
  } */

  .contact-right {
    left: 68% !important;
  }
}

@media (width <= 1280px) {
  .contact-right {
    left: 52vw;
  }
  #backarrow {
    position: absolute;
    right: 8vh !important;
    height: 20px;
    width: 20px;
    top: 13vh;
  }
  .tasks-container {
    width: 68%;
  }

  #edit_contact {
    bottom: 19vh !important;
  }
}

@media (width <= 1210px) {
  .contact-list-container {
    width: 33vw;
  }
  .contact {
    align-items: baseline;
  }
}

/* @media (width <= 1190px) {
  .contact-list-container {
    width: 32vw;
  }
  .contact {
    width: 27vw;
  }

  .contact-right {
    margin-inline-start: -72px;
  }

  .deleteBTN {
    top: 1%;
    left: 71%;
  }

  .new-contact-btn {
    right: 5%;
  }

  .name-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .contact-info-container {
    top: 305px;
  }

  .name-addTask {
    margin-inline-start: -5px;
  }

  .name-container {
    flex-direction: column;
    margin-left: 1px;
    align-items: center;
  }
  .name {
    margin-left: 18px;
    margin-top: 15.7px;
  }

  .name-container {
    flex-direction: column;
    margin-left: 0;
  }
} */

@media (width <= 1024px) {
  .new-contact-btn {
    padding: 14px 6px;
    right: 3%;
    top: 67% !important;
    position: fixed !important;
  }

  #contact_container {
    width: 100%;
    height: 100vh;
  }

  .add-task-content-overlay {
    margin-block-start: -67px !important;
  }

  .deleteBTN {
    top: 0;
    left: 62%;
  }

  .contact-right {
    top: 6% !important;
    left: 0% !important;
    height: 100vh !important;
    background-color: white;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    bottom: 0;
    position: fixed !important;
  }

  .deleteBTN-edit {
    top: 530px !important;
    position: absolute;
    right: 0;
    padding: 16px 35px;
    color: orange;
    border: 1px solid orange;
    font-size: 22px;
    border-radius: 8px;
    background-color: white;
    width: 88px;
    height: 42px;
  }

  .contact-char {
    margin-left: 10px;
  }

  .contact-list-container {
    margin-left: 0 !important;
    width: 45vw;
    padding-bottom: 84px !important;
  }

  .contact {
    padding: 15px 20px;
    width: 35vw;
    min-width: initial !important;
  }

  .circle {
    margin-left: 0;
  }

  .contact-email {
    font-size: 14px;
    color: #4589ff;
  }

  .img-container {
    margin-top: 50px;
  }

  form {
    margin-top: 50px;
    align-items: center;
  }

  .new-contact-btn-container {
    margin-top: 10px;
  }

  #task-urgent-desc {
    font-size: clamp(1rem, 3vw, 1rem);
  }

  .deleteBTN {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    padding: 16px 35px !important;
    border: 1px solid orange;
    font-size: 19px !important;
    width: 140px !important;
    height: 44px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit-contact {
    width: 274px;
  }

  .edit-button {
    font-size: 16px;
    color: #4589ff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 7px;
    border: 1px solid #4589ff;
    border-radius: 10px;
    left: 0;
    top: 0;
    width: 140px !important;
    height: 44px !important;
  }

  .new-contact-btn {
    font-size: 15px !important;
    padding: 10px 10px !important;
  }
}

@media (width <= 800px) {
  .contact-list-container {
    width: 100vw;
    min-width: 282px !important;
  }

  .contact-list-inner-container {
    width: 90vw !important;
    align-items: center;
  }

  .underline {
    width: 90vw !important;
  }

  .contact-right {
    position: fixed !important;
  }

  .new-contact-btn {
    right: 9%;
    top: 87% !important;
    font-size: 16px;
  }

  .btn-img {
    width: 25px;
    height: 22px;
  }

  #add_contact_container {
    width: 100vw;
    height: 100vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .add-contact-header {
    border-top-right-radius: 0 !important;
    height: 23% !important;
  }

  .new-contact-btn-container {
    padding-top: 50px;
  }

  .contact {
    width: 50vw;
  }

  .circle {
    margin-right: 10px;
    margin-left: 0;
  }

  .name-container {
    justify-content: flex-start;
    margin: 0;
  }

  #name_right {
    margin-left: -13px;
  }

  #backarrow {
    position: absolute;
    right: 3vh !important;
    height: 26px;
    width: 26px;
    top: 75px;
    z-index: 200000;
    display: flex !important;
  }

  .edit-contact-inner-container {
    width: 100vw;
  }
  #edit_contact {
    right: 31vw !important;
    top: 396px !important;
  }

  .contacts-list-elem {
    height: 21px;
    display: flex;
    align-items: baseline;
  }

  .deleteBTN {
    position: absolute;
    top: 529px;
    left: 32vw !important;
    padding: 8px 16px !important;
  }

  .name h1 {
    font-size: 34px !important;
  }

  .contact-information h2 {
    font-size: 19px !important;
  }

  .contact-list-container {
    height: 100vh !important;
    padding-bottom: 270px !important;
  }
}

@media (width <= 580px) {
  .contact {
    width: 100vw;
    gap: 0 !important;
    padding: 15px 0px !important;
  }

  .contact:hover {
    border-radius: 0 !important;
  }

  .add-task-content-overlay {
    scale: 0.8 !important;
  }
  #add_contact_container {
    height: 100vh;
    width: initial !important;
    height: 93vh !important;
  }
  .add-contact-header {
    width: 100vw;
  }
  .add-contact-information {
    width: 100%;
    height: 90% !important;
    border-top-right-radius: 30px !important;
  }

  form input {
    width: 100% !important;
  }

  .new-contact-btn-container {
    width: 80vw;
  }
  #name_right {
    text-align: center;
  }

  .name-addTask {
    margin-top: 8px;
  }
  .input-phone {
    margin-bottom: 25px;
  }

  form input {
    padding: 6px 18px !important;
    margin-bottom: 20px !important;
    border-radius: 0 !important;
    height: 40px !important;
  }

  .new-contact-btn {
    right: 2% !important;
    top: 72% !important;
    scale: 0.65 !important;
    position: fixed !important;
  }

  .add-contact-btn-right,
  .add-contact-btn-left {
    width: 157px !important;
    height: 50px !important;
    font-size: 16px !important;
  }

  .add-contact-headline {
    font-size: 24px !important;
  }

  .add-contact-paragraph {
    font-size: 13px !important;
  }

  .img-container {
    width: 106px !important;
    height: 106px !important;
    margin-top: 8% !important;
  }

  .add-contact-img {
    height: 35px !important;
    width: 35px !important;
  }

  form {
    margin-top: 8% !important;
    border-top: none !important;
  }

  .edit-contact-correct {
    width: 63% !important;
  }
}

@media (width <= 500px) {
  .add-task-content-overlay {
    scale: 0.85 !important;
    margin-inline-start: 11% !important;
  }

  .contacts-list-elem-box,
  .subtask-list-elem-box {
    display: flex;
    width: 80vw !important;
  }

  .deleteBTN {
    left: 78px !important;
    margin-block-start: 64px !important;
  }

  #edit_contact {
    right: 25vw !important;
  }

  .edit-button {
    left: 78px !important;
  }
}

@media (width >= 1980px) {
  .contact-list-container {
    width: 500px;
    padding-top: 50px;
  }
  .contact-list-inner-container {
    width: 100vw;
    align-items: center;
  }
  .contact {
    width: 20vw;
  }
}

@media (width >= 2160px) {
  .contact {
    width: 15vw;
  }
}

@media (width <= 380px) {
  .contact {
    position: relative;
    min-width: 0 !important;
    gap: 0 !important;
  }
  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    display: flex;
    flex-direction: column;
    width: 422px;
    margin-bottom: 6px;
    margin-block-start: -16px;
  }
  /* 
  .category-box {
    margin-block-start: -25px !important;
  } */

  .control {
    height: 20px !important;
  }

  .add-task-content {
    right: -20px;
  }

  .add-task-content-overlay {
    margin-top: -23% !important;
    margin-inline-start: 33% !important;
  }

  .new-contact-btn {
    right: 11%;
  }

  *::-webkit-scrollbar {
    width: 1px;
  }

  .circle-right {
    margin-top: 10px;
  }
  .name {
    margin-left: 0;
    margin-top: 35.7px;
  }

  #edit_contact {
    position: absolute;
    right: 45vw;
    top: 57%;
  }

  .deleteBTN {
    top: 524px;
    left: 62%;
  }
  .contact-char {
    width: 282px;
    font-size: 19px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-top: 10px;
    margin-left: 0;
  }
}

/* height */

@media (height <= 1206px) {
  .new-contact-btn-container {
    padding-top: 10px;
  }
  .contact-list-container {
    height: 100vh;
  }
  .contact-list-inner-container {
    height: 85vh;
  }
}

@media (height <= 1024px) {
  .new-contact-btn-container {
    padding-top: 0;
  }

  .img-container {
    margin-top: 25px;
  }

  .contact-list-container {
    min-width: initial !important;
  }
}

@media (height <= 930px) {
  .img-container {
    margin-top: 12.5px;
    width: 120px;
    height: 108px;
  }
}

@media (height <= 821px) {
  .new-contact-btn {
    top: 19vh !important;
    position: fixed !important;
    width: 142px;
    font-size: 18px !important;
    height: 58px !important;
    scale: 0.8;
  }
}

@media (height <= 820px) {
  form {
    margin-top: 40px;
  }
  .input-phone {
    margin-bottom: 12px;
  }
}

@media (height <= 700px) {
  .new-contact-btn {
    top: 20% !important;
  }
}

@media (height <= 670px) {
  body {
    overflow: scroll;
  }
}

@media (height <= 500px) {
  .new-contact-btn {
    top: 25% !important;
  }

  .add-contact-information {
    width: 100vw;
    height: 76% !important;
  }

  .add-contact-information {
    height: initial;
    position: absolute;
    top: 109px;
    bottom: -73px;
  }
}
