@media (max-width: 1024px) {
  body {
    position: relative;
  }
  form {
    position: fixed;
    inset: 0;
  }

  .add-title {
    font-size: 42px;
    padding-left: 4px;
  }

  .add-tasks-board-head {
    width: 100%;
  }

  .btn-create {
    height: 40px;
    padding: 0px 8px;
    border: 1px solid #4589ff;
    background: #4589ff;
    border-radius: 11px;
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 100%;
    margin-right: 28px;
  }

  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    width: 100%;
  }

  .for-tablet {
    gap: 0px;
  }

  .todo,
  .in-progress,
  .await-feedback,
  .done {
    width: 48% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 520px) {
  .add-task-content {
    margin-left: 0px;
    width: initial !important;
    left: 0;
    border-radius: initial;
    padding: 8px 24px;
  }

  .title-input {
  }

  .title-input,
  .title-input::placeholder {
    width: 90%;
    font-size: 23px;
  }

  .date-box,
  .category-box,
  .contacts-box,
  .description-box {
    margin-bottom: 8px;
  }

  .select-contacts,
  .select-date,
  .select-category,
  .add-subtask {
    cursor: pointer;
    width: 91%;
    margin-bottom: 8px;
  }
  .add-task-descript-input {
    width: 87%;
  }

  .select-date {
    width: 86%;
  }
  .select-date {
    width: 87%;
    min-width: 285px;
  }

  .subtask-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .importance-buttons {
    width: 97%;
    margin-bottom: 10px;
  }

  .importance-buttons button {
    height: 42px;
    width: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 10px;
  }

  .importance-buttons button {
    height: 32px;
    width: 31%;
    gap: 0;
    font-size: 13px;
  }
  .add-title {
    font-size: 32px;
  }

  .add-tasks-board-head {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
  }

  .btn-create {
    width: 108px;
    height: 41px;
    margin-right: 20px;
    margin-bottom: 7px;
    text-align: left;
    font-size: 15px;
  }

  .add-card img {
    display: none;
  }

  .importance-button1 span,
  .importance-button2 span,
  .importance-button3 span {
    display: none;
  }

  .importance-buttons button img {
    margin-left: 0px;
    width: 20px;
  }
}

@media (width <= 400px) {
  .add-task-descript-input {
    width: 85%;
  }

  .importance-buttons {
    width: 99%;
  }
}

@media (width <= 350px) {
  .add-title {
    font-size: 22px;
  }

  .add-card img {
    display: none;
  }

  .btn-create {
    width: 108px;
    height: 37px;
    text-align: left;
    font-size: 15px;
  }
}
